<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <bean id="customerService" class="me.gaolei.tutorial.aop.CustomerService">
        <property name="name" value="Gao Lei"/>
        <property name="url" value="http://gaolei.me"/>
    </bean>

    <bean id="hijackBeforeMethodBean" class="me.gaolei.tutorial.aop.HijackBeforeMethod"/>
    <bean id="hijackAfterMethodBean" class="me.gaolei.tutorial.aop.HijackAfterMethod"/>
    <bean id="hijackThrowExceptionBean" class="me.gaolei.tutorial.aop.HijackThrowException"/>
    <bean id="hijackAroundMethodBean" class="me.gaolei.tutorial.aop.HijackAroundMethod"/>

    <bean id="customerServiceProxy"
          class="org.springframework.aop.framework.ProxyFactoryBean">

        <property name="target" ref="customerService"/>

        <property name="interceptorNames">
            <list>
                <value>hijackBeforeMethodBean</value>
                <value>hijackAfterMethodBean</value>
                <value>hijackThrowExceptionBean</value>
                <value>hijackAroundMethodBean</value>

            </list>
        </property>
    </bean>
</beans>